ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
}

ul.topnav li {
  float: left;
  width: 50%;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding:10px;
    text-decoration: none;
    border-top: solid 3px black;
    border-bottom: solid 3px #6e6e6e;
}

ul.topnav li a:hover:not(.active) {
    border-bottom: solid 3px #d11f1f;
    transition: 0.3s;
}

ul.topnav li a.active {
    border-bottom: solid 3px #d11f1f;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
