ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    padding: 10px;
    padding-left: 0;
    position: absolute;
    opacity: 0.8;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

ul.topnav li {
  float: left;
  width: 50%;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding:10px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

ul.topnav li a:hover:not(.active) {
    color: #d11f1f;
}

ul.topnav li a.active {
    color: #d11f1f;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
