#contactHeading {
  color: red;
  margin: 0;
  color: white;
  height: 300px;
  padding-top: 20px;
  background-color: #061f24;
  display: flex;
  justify-content: flex-end;
}

#contactHeadingContent {
  margin: auto;
}

#phoneImage {
  margin-right: -100px;
}

span {
  color: #62d9fa;
}

@media screen and (max-width:650px) {
  #contactHeading {text-align: center;}
  #phoneImage {display: none;}
}
