#contactHeading {
  color: red;
  margin: 0;
  color: white;
  height: 350px;
  background-color: #0e0e0e;
  display: flex;
  align-items: center;
}

#contactH1 {
  background-color: #0e0e0e;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#emptyDiv {
  flex-grow:.2;
}

#contactHeadingContent {
  flex-grow: .1;
  padding: 22px;
  margin-bottom: 30px;
}

#contactHeadingContent p, h1 {
  margin-left: 30px;
}

#phoneNumber {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

#contactForm {
  flex-grow: .5;
  align-self: center;
}

#phoneImage {
  margin-right: -100px;
}

.formField {
  margin-bottom: 5px;
}

.formField div {
  margin-bottom: 5px;
}

span {
  color: #62d9fa;
}

/* map */
#mapContainerElement {
  height: 45vw;
  width: 100%;
  margin-top: -180px;
  margin-right: 10vw;
  margin-bottom: 50px;
}

#mapLoadingElement {
  height: 100%;
}

#mapElement {
  height: 100%;
  border: solid white 20px;
}

.copyRight {
  padding: 20px;
  background-color: #2d5056;
  color: white;
  font-size: 13px;
  max-width: 1440px;
}

@media screen and (max-width:650px) {
  #contactHeading {display: block; height: 300px;}
  #contactHeadingContent {border: none !important;}
  #phoneImage {display: none;}
  #contactForm {display: none;}
}

@media screen and (max-width: 1000px) {
  #mapContainerElement {margin-top: -100px}
}

@media screen and (max-width: 500px) {
  #mapElement {border: none;}
  #mapContainerElement {margin-top:-50px;}
}
