#hoursImagesContainer {
  position: sticky;
  z-index: -1;
  height: 600px;
  padding-top: 200px;
  margin-top: -5px;
  background: linear-gradient(white, #ffffb5);
}

#businessHoursContent {
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ffb0a8;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#businessHoursContent > center > h1 {
  margin-left: 0;
}
#businessHoursContent > center > h3 {
  font-family: 'Shadows Into Light Two', cursive;
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  #businessHoursContent{width: 50vw; height: 50vw;}
}

@media screen and (max-width: 875px) {
  #businessHoursContent{width: 60vw; height: 60vw;}
  .businessHours div {width: 100%}
}

@media screen and (max-width: 615px) {
  #businessHoursContent > center > h1 {font-size: 20px}
  #businessHoursContent{width: 80vw; height: 80vw;}
  .businessHours {width: 100vw}
}
