.businessHours {
  flex-grow: 1;
  height: 300px;
}

.lunchHours {
  flex-grow: 1;
  height: 300px;
}

.businessHours div {
  text-align: center;
  height: 100%;
}

.lunchHours div {
  text-align: center;
  height: 100%;
}

.businessHours div h1 {
  margin: 30px;
}

.lunchHours div h1 {
  margin: 30px;
}

#businessHoursContent {
  border: solid 10px #52d392;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

#lunchHoursContent {
  border: solid 10px #4b8d6c;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 615px) {
  .businessHours {width: 100vw}
  .lunchHours {width: 100vw}
}

@media screen and (max-width: 875px) {
  .businessHours div {width: 100%}
  .lunchHours div {width: 100%}
}
