#Intro{
  padding-bottom: 100px;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 80px;
}

#logo {
  width: 400px;
}

#introParagraph {
  color: black;
}

#brushStroke {
  width: 65px;
  margin-top: 20px;
}

#paragraph {
  text-align: center;
  color: black;
  padding: 40px;
  padding-top: 0;
  width: 70%;
  margin: auto;
  margin-top: 0;
  display: flex;
  -webkit-font-smoothing: antialiased;
  line-height: 2;
  font-family: 'Lato', sans-serif;
}

#IntroImages {
  width:100%;
  background-color: #f3f3f3;
  margin-top: 50px;
}

#scrollToMenu {
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border: solid 1px #3fabf2;
  color: #3fabf2;
  margin: auto;
  width: 150px;
  cursor: pointer;
  margin-top: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}


#scrollToMenu:hover {
  background-color: #b3deff;
  transition: 0.3s;
}

#descriptionContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

#descriptionContainer > div{
  width:40%;
}

#descriptionContainer > div > h3 {
  margin-bottom: 0;
  font-size: 30px;
  font-family: 'Lato', cursive;
}
#descriptionContainer > div > p {
  font-family: 'Lato', cursive;
  line-height: 2;
}


@media screen and (max-width:500px) {
  #descriptionContainer{display: block;}
  #descriptionContainer > div {width: 90%;margin: auto;}
  #paragraph {margin: 0 auto;width: 90%;padding: 0;}
  #logo { width: 260px;}
}

@media screen and (max-width:450px) {
  #IntroContent {width: 83%}
}
