#Intro{
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 80px;
}

#introContainter {
  margin-top: 100px;
}

#logo {
  width: 400px;
  margin-top: 80px;
  margin-bottom: 30px;
}

#IntroContent {
  border: solid;
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  width: 50%;
}

#introParagraph {
  color: black;
  padding: 40px;
}

#paragraph {
  text-align: center;
  color: black;
  padding: 40px;
  padding-top: 0;
  width: 70%;
  margin: auto;
  margin-top: 0;
  display: flex;
  -webkit-font-smoothing: antialiased;
  line-height: 2;
  font-family: 'Roboto Condensed', sans-serif;
}

#IntroImages {
  width:100%;
  background-color: #f3f3f3;
  margin-top: 100px;
}

#scrollToMenu {
  text-align: center;
  border: solid 1px #3fabf2;
  color: #3fabf2;
  padding: 20px;
  margin: auto;
  width: 150px;
  cursor: pointer;
  margin-top: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}


#scrollToMenu:hover {
  background-color: #b3deff;
  transition: 0.3s;
}

@media screen and (max-width:450px) {
  #introParagraph {padding: 20px;}
  #logo { width: 260px;}
}

@media screen and (max-width:450px) {
  #IntroContent {width: 83%}
}
