#AllTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eeefea;
  border-top: double 8px #75686a;
  padding: 15vw;
  padding-top: 150px;
  padding-bottom: 150px;
}

#menuHeading {
  padding: 6px;
  margin-left: 40px;
  margin-right: 40px;
  transform-origin: left top 0;
  border: solid 7px #373737;
  height: 178px;
  width: 49px;
  border-radius: 2px;
  box-shadow: 5px 5px 10px #757575;
}

#menuHeading h1  {
  color: #373737;
  word-wrap: break-word;
  width:1em;
  box-sizing:border-box;
  margin-top: 0;
  margin-left: 10px;
  -webkit-font-smoothing: antialiased;
  font-family: fantasy;
}

#menuContent {
  text-align: center;
  background-color: #eff0eb;
  padding-bottom: 150px;
}

#scrollTop {
    position: fixed;
    color: black;
    cursor: pointer;
    opacity: 0.5;
    background-color:white;
    width: 100%;
    text-align: center;
    padding: 2px;
    bottom:0;
    z-index: 1;
}

#scrollTop:hover {
  opacity: 1;
  transition: 0.3s;
}

@media screen and (max-width:500px) {
  #AllTypes {padding: 0;padding-bottom: 150px; padding-top:100px;}
}
