#AllTypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 130px;
  margin-top: -21px;
  background-color: #eeefea;
}

#menuHeading {
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
  transform-origin: left top 0;
  border: solid;
  height: 200px;
  width: 109px;
}

#menuHeadingInside {
  word-wrap: break-word;
  width:1em;
  padding:0.9em;
  box-sizing:border-box;
  margin-top: 0;
  margin-left: 10px;
}

#scrollTop {
    position: fixed;
    color: black;
    cursor: pointer;
    opacity: 0.5;
    background-color:white;
    width: 100%;
    text-align: center;
    padding: 2px;
    bottom:0;
    z-index: 1;
}

#scrollTop:hover {
  opacity: 1;
  transition: 0.3s;
}
