.Menus {
  border: 2px solid #4d4d4d;
  text-align: center;
  margin: 0;
  height: 200px;
  width: 150px;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
  margin-bottom: 10px;
}

.listName {
  margin-top: 70px;
  padding: 10px;
  background-color: rgba(221, 221, 221, 0.4);
  font-family: 'Lato', cursive;
}

.Menus:hover > .listName {
  margin:0;
  transition:0.3s ease;
  position: absolute;
  width: 130px;
  background-color: rgba(221, 221, 221, 0.7);
}

.sushiImage {
  width: 0;
  margin: auto;
}

.Menus:hover > .sushiImage {
  width: 100%;
  height: 200px;
  transition:0.3s;
  border: none;
}
