#ocean {
  height: 100vh;
  width: 100vw;
  background-color: #061f24;
  text-align: center;
  max-width: 1440px;
}

#galleryHeading {
  margin-top: -300px;
  margin-bottom: 100px;
}

#gHeading {
  margin: 0;
  color: white;
  font-size:60px;
  font-family: 'Roboto', sans-serif;
}

#gParagraph {
  color: white;
  margin: 0;
  font-family: 'Roboto condensed', sans-serif;
  font-size: 24px;
}

.gallery {
    margin: 5px;
    float: left;
    padding: 10px;
}

.gallery img {
    border-radius: 50%;
    border: solid white;
    width: 100%;
    height: auto;
}

.desc {
    width: 180px;
    margin: auto;
    margin-top: -22px;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.galleryContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

#whiteStroke {
  margin-top: 20px;
}

.copyRight {
  margin-top: 50px;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #2d5056;
  font-size: 13px;
  max-width: 1440px;
}

@media screen and (max-width: 600px) {
  .desc {width: 150px;}
  .desc h3 {font-size: 15px;}
  .desc p {font-size: 13px;}
}

@media screen and (max-width: 780px) {
  #gHeading {font-size: 45px;}
  #gParagraph {font-size: 16px;}
}
