#ocean {
  height: 100vh;
  width: 100vw;
  background-color: #061f24;
  text-align: center;
  max-width: 1440px;
}

/*---- OceanImages.css -------*/
.gallery {
    margin: 5px;
    float: left;
    padding: 10px;
}

.gallery img {
    border-radius: 50%;
    border: solid white;
    width: 100%;
    height: auto;
}

.desc {
    width: 50%;
    margin: auto;
    margin-top: -20px;
    background-color: white;
    padding: 5px;
    text-align: center;
}

.galleryContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.copyRight {
  margin-top: 50px;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #2d5056;
  font-size: 13px;
  max-width: 1440px;
}
