.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#foodType {
  color: black;
  text-align: center;
  margin-top: 7px;
}

.overlayContent {
    position: relative;
    top: 15%;
    width: 100%;
    width: 55%;
    padding: 30px;
    padding-bottom: 40px;
    margin:auto;
    border: double 10px black;
    background-color: white;
    margin-bottom: 50px;
}

.overlay a, h2 {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.overlay .closebtn {
    position: fixed;
    right: 20px;
    font-size: 60px;
}

.overlay .closebtn:hover {
  color: white;
}

#nextPage {
  position: fixed;
  right:0;
  margin-top: 48vh;
  margin-right: 20px;
  color: #818181;
  font-size: 50px;
  cursor: pointer;
}

#nextPage:hover {
  color: white;
}

#previousPage {
  position: fixed;
  margin-top: 48vh;
  margin-left: 15px;
  color: #818181;
  font-size: 50px;
  cursor: pointer;
}

#previousPage:hover {
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
